.product__img{
    width: 100%;
    height: 176px;
    object-fit: cover;
    object-position: center; 
    margin-bottom: 10px;
}

.product__title{
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    margin-bottom: 5px;
}

.product__wrapper-buy{
    display: flex;
    justify-content: space-between;
}

.product__btn-icon {
    width: 24px;
    height: 24px;
}

.product__btn-buy {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border:none;
    color:#fff;
}

